.app-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  position: sticky;
  box-shadow: 0px 0px 30px -10px black;
}

.dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.where {
  font-weight: 800;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  padding: 2rem 2.5rem;
  gap: 2rem;
  min-height: 87.3vh;
}

.search-and-filter {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: white;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 30px -10px black;
}

.search-box {
  border: none;
  font-size: x-small;
  font-weight: 300;
}

.filter-region {
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 0px 30px -10px black;
  background-color: white;
  padding: 0.5rem;
  font-size: x-small;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.8rem;
}

.card {
  display: flex;
  width: 14rem;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 30px -10px black;
}

.country-image {
  height: 8rem;
}

.country-info {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.name {
  height: 2.5rem;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.1rem;
}

.population,
.region,
.capital,
.area {
  font-size: smaller;
  font-weight: 500;
}

.light-size {
  font-weight: 300;
  font-size: smaller;
}

input:focus {
  outline: none;
}

/* .search-icon {
  color: grey;
} */

.dark-background {
  background-color: hsl(207, 26%, 17%);
  color: white;
}

.dark-elements {
  color: white;
  background-color: hsl(209, 23%, 22%);
}

.dark-elements::placeholder {
  color: white;
}

.area-display-none {
  display: none;
}

.specific-country-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 5rem;
  width: 100%;
  min-height: 87.3vh;
  background-color: hsl(0, 0%, 98%);
}

.back-button {
  width: 8%;
  display: flex;
  justify-content: center;
  border: none;
  background-color: white;
  padding: 0.2rem 0;
  font-size: x-small;
  box-shadow: 0px 0px 30px -10px black;
}

.specific-country-image {
  flex-grow: 1;
}

.specific-country-image img {
  width: 100%;
  height: 100%;
}

.specific-country-details {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.specific-country-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 2;
  padding: 1rem 2rem;
}

.specific-country-name {
  font-weight: 800;
  font-size: large;
}

.specific-country-data {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.specific-property,
.border-countries {
  font-size: small;
  font-weight: 500;
}

.border-buttons {
  margin: 2px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px -7px black;
  padding: 5px 20px;
  font-size: x-small;
  cursor: pointer;
}

.specific-dark-background {
  background-color: hsl(207, 26%, 17%);
  color: white;
}

.specific-dark-elements {
  background-color: hsl(209, 23%, 22%);
  color: white;
}
@media screen and (max-width: 700px) {
  .search-and-filter {
    flex-direction: column;
    gap: 1.5rem;
  }

  .search {
    padding: 1.5rem 1.2rem;
    display: flex;
  }

  .search-box {
    margin-left: 1rem;
  }
  .filter-region {
    width: 50%;
    padding: 1rem 0.2rem;
  }

  .main-container {
    padding: 1rem;
  }

  .header-container,
  .search,
  .filter-region,
  .card {
    box-shadow: 0px 0px 10px -7px black;
  }

  .cards-container {
    gap: 2rem;
  }

  .header-container {
    padding: 2rem 1.4rem;
  }
}

@media screen and (max-width: 425px) {
  .dark-mode {
    gap: 0.4rem;
  }

  .name-of-mode {
    font-size: smaller;
  }

  .where {
    font-size: smaller;
  }
}
